@layer preset {
  :root {
    --p-message-text-font-size: inherit;
    --p-message-text-sm-font-size: 1.2rem;
    --p-message-text-lg-font-size: 1.6rem;
    --p-message-text-font-weight: inherit;
  }
}
