@layer preset {
  :root {
    --p-multiselect-chip-border-radius: 10rem;
    --p-multiselect-sm-font-size: var(--p-app-font-size);
  }

  .p-multiselect {
    align-items: center;
    width: var(--p-select-app-width);
    min-width: var(--p-select-app-min-width);
    max-width: var(--p-select-app-max-width);
    height: var(--p-select-app-height);
    min-height: var(--p-select-app-min-height);
    max-height: var(--p-select-app-max-height);
    &.p-select-sm,
    &.p-multiselect-sm {
      height: var(--p-select-app-sm-height);
    }
    &.p-multiselect-lg {
      height: var(--p-select-app-lg-height);
    }
    &.p-disabled {
      .p-multiselect-label {
        color: var(--p-app-disabled-color);
      }
    }
    .p-multiselect-dropdown {
      .p-icon {
        width: var(--p-select-app-dropdown-icon-size);
        height: var(--p-select-app-dropdown-icon-size);
        margin-right: 0.5rem;
      }
    }
    .p-multiselect-label {
      flex-wrap: wrap;
      &:has(.p-chip) {
        padding: calc(var(--p-multiselect-padding-y) / 2)
          var(--p-multiselect-padding-x);
      }
    }
    .p-chip {
      padding-block: var(--p-chip-padding-y);
      padding-inline: var(--p-chip-padding-x);
      .p-chip-label {
        max-width: 8rem;
        padding-block: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .icon {
        color: var(--p-chip-remove-icon-color);
      }
    }
  }
  .p-multiselect-overlay-sm .p-multiselect-option {
    height: var(--p-select-app-sm-height);
  }
}
