@layer preset {
  :root {
    --p-paginator-app-min-width: 6rem;
    --p-paginator-app-max-width: fit-content;
  }

  .p-paginator {
    .p-paginator-rpp-dropdown {
      min-width: var(--p-paginator-app-min-width);
      max-width: var(--p-paginator-app-max-width);
    }
  }
} 