@layer preset {
  :root {
    --p-radiobutton-width: 2rem;
    --p-radiobutton-height: 2rem;
    --p-radiobutton-sm-width: 1.4rem;
    --p-radiobutton-sm-height: 1.4rem;
    --p-radiobutton-lg-width: 2.4rem;
    --p-radiobutton-lg-height: 2.4rem;
    --p-radiobutton-icon-size: 1.2rem;
    --p-radiobutton-icon-sm-size: 0.8rem;
    --p-radiobutton-icon-lg-size: 1.6rem;
  }
}
