@layer preset {
  .p-tooltip {
    max-width: var(--p-tooltip-app-max-width, 30rem);
    &-top &-arrow {
      border-top-color: var(--p-tooltip-app-surface, var(--surface-0));
    }
    &-right &-arrow {
      border-right-color: var(--p-tooltip-app-surface, var(--surface-0));
    }
    &-bottom &-arrow {
      border-bottom-color: var(--p-tooltip-app-surface, var(--surface-0));
    }
    &-left &-arrow {
      border-left-color: var(--p-tooltip-app-surface, var(--surface-0));
    }
    &-text {
      font-size: var(--p-tooltip-app-font-size, var(--text-sm, 0.875rem));
      color: var(--text-color);
      border-radius: var(--p-tooltip-app-border-radius, var(--radius-control-md));
      background: var(--p-tooltip-app-surface, var(--surface-0));
    }
  }
}
