@mixin font-face($weight, $fileName) {
  @font-face {
    font-family: 'Inter';
    font-weight: $weight;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local('Inter'), url('/fonts/#{$fileName}.woff2') format('woff2');
  }
}
@mixin font-base($size: 1rem, $weight: 400, $line-height: 130%) {
  font-family: 'Inter', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: 0.5px;
}
@mixin font($size: 1rem, $weight: 400, $line-height: 130%) {
  font-size: $size;
  font-weight: $weight;
}

@include font-face(400, 'Inter-VariableFont_opsz,wght');
